[submodule "docker"]
    path = docker
    url = git clone git@github.com:tiiuae/docker.git
    branch = xen

[submodule "linux"]
    path = linux
    url = git@github.com:raspberrypi/linux.git

[submodule "imagebuilder"]
    path = imagebuilder
    url = https://gitlab.com/ViryaOS/imagebuilder.git

[submodule "u-boot"]
    path = uboot
    url = git@github.com:u-boot/u-boot.git
