[submodule "docker"]
    path = docker
    url = ../docker
    branch = xen
[submodule "linux"]
    path = linux
    url = ../linux
    branch = xen
[submodule "u-boot"]
    path = uboot
    url = https://github.com/u-boot/u-boot.git
[submodule "xen"]
	path = xen-hyp
	url = git://xenbits.xen.org/xen.git
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "flutter-shim"]
	path = flutter-shim
	url = ../flutter-shim
