[submodule "docker"]
    path = docker
    url = git@github.com:tiiuae/docker.git
    branch = xen
[submodule "linux"]
    path = linux
    url = git@github.com:tiiuae/linux.git
    branch = xen
[submodule "u-boot"]
    path = uboot
    url = git@github.com:u-boot/u-boot.git
[submodule "xen"]
	path = xen-hyp
	url = git://xenbits.xen.org/xen.git
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
