# These will be removed on distclean
.ccache/
images/
mnt/
.mountimg
.buildroot-ccache/
.setup_sh_config*
.download_cache/
avocado/tests/tmp_*
tmpfile
*.tmp
Makefile
*.bzImage
*.Image
*.ext2
*/output_*
*/*_defconfig
*/generated_*
