# Support for Quectel LTE modem
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ACTION=="add",  RUN+="/bin/sh -c 'ifup wwan0 --allow=hotplug'"
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ACTION=="remove", RUN+="/bin/sh -c 'ifdown wwan0 --allow=hotplug'"
