policy_module(secure, 1.0);

#============= chkpwd_t ==============
allow chkpwd_t device_t:chr_file { read write };
allow chkpwd_t proc_t:filesystem getattr;
allow chkpwd_t sysctl_kernel_t:dir search;
allow chkpwd_t sysctl_kernel_t:file { open read };
allow chkpwd_t tmpfs_t:dir search;

#============= getty_t ==============
allow getty_t proc_t:filesystem getattr;
allow getty_t sysctl_kernel_t:dir search;
allow getty_t sysctl_kernel_t:file { open read };
allow getty_t sysctl_t:dir search;

#============= ifconfig_t ==============
allow ifconfig_t proc_t:filesystem getattr;
allow ifconfig_t sysctl_kernel_t:dir search;
allow ifconfig_t sysctl_kernel_t:file { open read };

#============= iptables_t ==============
allow iptables_t device_t:chr_file { getattr ioctl read write };

#============= kmod_t ==============
allow kmod_t device_t:chr_file read;
allow kmod_t proc_t:filesystem getattr;

#============= local_login_t ==============
#!!!! This avc can be allowed using the boolean 'allow_polyinstantiation'
allow local_login_t tmpfs_t:dir { add_name write };
allow local_login_t tmpfs_t:file { create lock open read write };

#============= mount_t ==============
allow mount_t tmpfs_t:dir { add_name create };

#============= restorecond_t ==============
allow restorecond_t var_t:dir watch;

#============= sysadm_t ==============
allow sysadm_t initrc_t:unix_stream_socket connectto;

#============= syslogd_t ==============
allow syslogd_t tmpfs_t:file { append getattr open };
allow syslogd_t var_t:file { append create };
allow syslogd_t var_t:dir { write add_name };
allow syslogd_t device_t:chr_file { open write};

#============= system_dbusd_t ==============
allow system_dbusd_t device_t:chr_file { open read write };
allow system_dbusd_t tmpfs_t:dir { add_name search write };
allow system_dbusd_t tmpfs_t:file { create getattr open write };
allow system_dbusd_t tmpfs_t:sock_file { create setattr };
